@model OspreyOlympiansGold.Models.User

@{
    ViewBag.Title = "CheckoutDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="plans" style="padding: 25px;">
        <br/>
        <h3>Thank you for your purchase @Html.DisplayFor(model => model.FirstName).  You may review your account details below.</h3>
        <br />
        <hr />
        <h2>Account for: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
        <br />
        <div>
            <table class="table table-hover">
                <thead>
                    <tr style="background-color:#00246B;color:white;font-weight:400">
                        <th scope="col">User Name</th>
                        <th colspan="2">@Html.DisplayFor(model => model.UserName)</th>

                    </tr>
                    <tr>
                        <th scope="col"> <span class="glyphicon glyphicon-user"></span></th>
                        <th scope="col">Member Name</th>
                        <th scope="col">@Html.DisplayFor(model => model.FirstName),  @Html.DisplayFor(model => model.LastName)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><span class="glyphicon glyphicon-envelope"></span></th>
                        <td>Email Address</td>
                        <td>@Html.DisplayFor(model => model.Email)</td>

                    </tr>
                    <tr>
                        <th scope="row"><span class="glyphicon glyphicon-globe"></span></th>
                        <td>Address</td>
                        <td>@Html.DisplayFor(model => model.Street_Address)</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td>@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State), @Html.DisplayFor(model => model.Zip)</td>
                    </tr>
                    <tr>
                        <th scope="row"><span class="glyphicon glyphicon-phone-alt"></span></th>
                        <td>Phone</td>
                        <td>@Html.DisplayFor(model => model.Phone)</td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <h4>Your Plan</h4>
            <hr />

            <table class="table table-hover">
                <thead>
                    <tr style="background-color:#00246B;color:white;font-weight:400">
                        <th scope="col">@ViewBag.Plan</th>
                        <th colspan="2">Price: @ViewBag.Cost</th>

                    </tr>
                    <tr>
                        <th colspan="3">
                            <ul>
                                @foreach (var item in ViewBag.Features)
                                {
                                    <li>@item</li>
                                }
                            </ul>
                        </th>
  
                    </tr>
                </thead>
            </table>

</div>
        <p>
            <a class="btn btn-default bluebtn" href="@Html.ActionLink("Edit", "Edit", new { id = Model.Id })"></a>
            <a class="btn btn-default bluebtn" href="@Url.Action("Index","Home")">Back to Home</a>            
        </p>
    </div>